#login-card{
  border-color: #A0007A;
}

#forgot-card{
  border-color: #A0007A;
}

.card-body .botilyn{
  color: #A0007A;
} 

#content-ingresar .btn-ingresar{
  background-color: #A0007A;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border-color: black;
}

#content-btn{
  display: flex;
  justify-content: center;
}

#content-btn #content-btn2 .btn-ingresar{
  background-color: #A0007A;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  border-color: black;
}

#btn-fb{
background-color: #A0007A;
border-color: black;
}

#btn-google{
  background-color: #A0007A;
  border-color: black;
  }

  #welcome{
    color: #312782;
  }
  #content-forgot #forgot{
    color: #312782;
  }